# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/
dist/
build/

# ---- Node ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Editors ----
.vscode/
*.swp
.idea/
